<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon class="home">home</mat-icon></a>
      <button mat-button [matMenuTriggerFor]="settings" class="settings">
        Settings
      </button>
      <mat-menu #settings="matMenu" yPosition="below">
        <button mat-menu-item>Setting 1</button>
        <button mat-menu-item>Setting 2</button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 fxFlex.gt-xs="0 1 12em" ngClass.gt-xs="mat-display-1">
        Event Calendar
      </h1>
      <div fxHide.lt-sm="true" fxFlex="0 1 100%">
        <div fxFlex="0 1 100%"></div>
        <div style="display:flex">
          <button mat-button class="mat-h1">
            <mat-icon class="home">home</mat-icon>
          </button>
          <div class="fx-spacer"></div>
          <button mat-button [matMenuTriggerFor]="settings" class="settings">
            Settings
          </button>
          <mat-menu #settings="matMenu" yPosition="below">
            <button mat-menu-item>Setting 1</button>
            <button mat-menu-item>Setting 2</button>
          </mat-menu>
          <button mat-button class="mat-h1" title="User Name" [matMenuTriggerFor]="accounts">
              <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #accounts="matMenu" yPosition="below">
              <button mat-menu-item>Log out</button>
            </mat-menu>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
