<div class="mat-h1 heading">Today's Schedule</div>

<div class="schedule-container">
  <mat-card class="daily-events mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>9:00 A.M, Brampton</mat-card-title>
      <mat-card-subtitle>Room 9</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Here is a short summary of the appointment.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>DETAILS</button>
    </mat-card-actions>
  </mat-card>
</div>
